
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #000;
}



button{
    padding: 15px 20px;
    background: rgb(239, 80, 80);
    color: white;
    border: 2px solid black;
    outline: none;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
}